Repository vasudev-gm/triton-examples, changes with the labels that .github/labeler.yml gives for each.
All labels: python, tests, requirements, docs, ci

Update Python version in dependency submission workflow
  .github/workflow/dependency_submission.yml
Labels: none

Update numpy to version 2.3.3 and pyparsing to version 3.2.4 in requirements and uv.lock files
  requirements.txt
  uv.lock
Labels: requirements

Bumps dependencies and updates project version
  pyproject.toml
  requirements.txt
  uv.lock
Labels: requirements

Refine package export and locking commands in README.md for clarity and accuracy
  README.md
Labels: docs

Update dependencies to newer versions with improved stability
  requirements.txt
  uv.lock
Labels: requirements

Update dependencies to newer versions
  requirements.txt
  uv.lock
Labels: requirements

Update project version to 0.2.2 and bump pip version to 25.3 in lock files
  pyproject.toml
  uv.lock
Labels: none

Bump project version to 0.2.3 and update fsspec and pip dependencies to latest versions
  pyproject.toml
  requirements.txt
  uv.lock
Labels: requirements

Update triton dependency version to 3.5.0 for improved compatibility
  requirements.txt
Labels: requirements

Simplifies dependency management and updates PyTorch support
  pyproject.toml
  uv.lock
Labels: none

Update dependency_submission.yml
  .github/workflow/dependency_submission.yml
Labels: none

Update dependency_submission.yml
  .github/workflow/dependency_submission.yml
Labels: none

Update PyTorch dependencies to CUDA 13 and upgrade packages
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Labels: requirements, docs

.github/labeler.yml:

python:
  - '**/*.py'
tests:
  - 'tests/**/*.py'
requirements:
  - 'requirements*.txt'
docs:
  - '**/*.md'
ci:
  - '.github/workflows/*.yml'
